h1 {
  color: #031d44;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;

  .card-header {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

    .remove {
      cursor: pointer;
      font-size: 20px;
      margin-left: auto;

      svg {
        color: red;
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: normal;
      color: #14213d;
      font-weight: bold;
      flex: 0 0 10%;
    }

    .control {
      width: 300px;
      margin-left: 20px;
    }
  }

  .select:not(.is-multiple) {
    height: 30px;
  }

  .select select:not([multiple]) {
    width: 300px;
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    top: 15px;
  }
}

.is-primary {
  width: 182.47px;
}

.no-items {
  margin: 15px 0px;
  text-align: center;
}
